@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@import url('./cleintsCard.css');

@import url('./servicesCard.css');

@import url('./homePage.css');

*{
  margin: 0px;
  padding: 0px;
  /* padding: 2px;
  border: 1px solid red; */
  box-sizing: border-box;
}

:root{
  --side-menu-bar-bg-color: #0f172a;
  --ui-main-font: 'Inter', sans-serif;
  scroll-behavior: smooth;
}

body{
  overflow: auto;
  background-color: #f1f5f9;
}

.mainCont{
  width: 100vw;
  height: 100vh;
  font-family: var(--ui-main-font);
  display: flex;
  overflow: hidden;
}

.subCont{
  height: 100%;
  flex-grow: 1;
}

.sideMenuBar{
  min-width: 280px;
  padding: 20px 10px;
  color: whitesmoke;
  text-transform: capitalize;
  background-color: var(--side-menu-bar-bg-color);
  transition: 0.3s;
}

.sideMenuBarCard h5{
  color: #6366f1;
  text-transform: uppercase;
  margin-bottom: 10px;
  position: relative;
}



.menuHideBtn{
  display: none;
}

.sideMenuBarCard ul{
  text-align: center;
}

.sideMenuBarLinks{
  color: #cfd0d4;
  font-weight: 500;
  border-radius: 5px;
  margin-bottom: 5px;
  padding: 10px 20px;
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.sideMenuBarLinks:hover{
  color: #ffffff;
  background-color: #2c3344;
  transition: 0.2s;
}

.hidePage{
  display: none;
  
}

.navCont{
  box-shadow: 2px 2px 5px 2px rgba(212, 203, 203, 0.932);
  position: sticky;
  top: 0px;
}

.navCont ul{
  background-color: white;
  color: gray;
  padding: 0px 20px;
  display: flex;
}

.navCont ul li{
  list-style: none;
  padding: 20px;
  font-size: larger;
}

#sideMenuBarBtn{
  margin-right: auto;
}

.navSubCont{
  flex-grow: 1;
}

.middleLayout nav ul li{
  list-style: none;
}

.pageCont{
  width: 100%;
  height: calc(100% - 40px);
}

.servicesCont{
  width: 70%;
  margin: auto;
}

.servicesHeadCont{
  margin-top: 20px;
  color: #1e293b;
  background-color: #ffffff;
  box-shadow: 2px 2px 5px 2px #dde0e4;
  border-radius: 20px;
  text-transform: capitalize;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 24px;
}

.bannerCont{
  background-color: #0f172a;
  max-width: 700px;
  min-width: 340px;
  margin: 30px auto;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 2px 2px 5px 2px rgba(128,128,128,0.6);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.bannerSubCont{
  flex-grow: 1;
  flex-basis: 50%;
  height: calc(100% - 40px);
}

.bannerLogo{
  max-width: 50%;
  min-width:266px;
  
}

.bannerLogo img{
  width: 100%;
  height: 100%;
  display: block;
}

@media screen and (min-width: 429px) and (max-width: 810px){
  .sideMenuBar{
    z-index: 2;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 150px;
  }

  .menuHideBtn{
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    border: 1px solid crimson;
    padding: 0px 5px;
    border-radius: 50%;
  }

  .menuHideBtn i{
    color: crimson;
    font-size: larger;
  }

  .middleLayout{
    width: 100%;
  }

  .pageCont{
    padding: 0px 20px;
  }

  .sideContactBar{
    display: none;
  }
}

@media screen and (max-width: 428px){
  .sideMenuBar{
    z-index: 2;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 40%;
  }

  .menuHideBtn{
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    border: 1px solid crimson;
    padding: 0px 5px;
    border-radius: 50%;
  }

  .menuHideBtn i{
    color: crimson;
    font-size: larger;
    
  }

  .pageCont{
    padding: 0px 5px;
  }
}